@media (prefers-color-scheme: dark) {
  body {
    background: #171923;
    color: hsla(0, 0%, 100%, 0.92);
  }
}

:root {
  --color-primary: rgb(170, 0, 0);
}

::selection {
  background: hsla(0, 100%, 33%, 0.5);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  transition: background-color 0.2s ease 0s;
}

img {
  object-fit: cover;
}

.next-image-container > div {
  display: block !important;
}

@media (max-width: 768px) {
  .header-logo {
    max-width: 50px !important;
    overflow: hidden;
  }
}

.header-logo {
  max-width: 161px;
}
